$mainFont: montserrat, arial, sans-serif;
$lightThemeBg: #ffffff;
$lightThemeBlock: #f7f9f9;
$lightThemeBlockHover: #00000008;
$lightThemeBlockBorder: #eff3f4;;
$lightThemeTitleColor: #0f1419;
$lightThemeFontColor: #536471;
$lightThemeButtonBg: #1d9bf0;
$lightThemeButtonBgHover: #1a8cd8;
$lightThemeButtonColor: #ffffff;
